[submodule "utopia/external/json"]
	path = utopia/external/json
	url = https://github.com/nlohmann/json
[submodule "utopia/external/tinyexpr"]
	path = utopia/external/tinyexpr
	url = https://github.com/codeplea/tinyexpr
[submodule "utopia/external/ParMETIS"]
	path = utopia/external/ParMETIS
	url = https://github.com/KarypisLab/ParMETIS
[submodule "utopia/external/matrix.io"]
	path = utopia/external/matrix.io
	url = https://github.com/zulianp/matrix.io.git
[submodule "utopia/external/isolver"]
	path = utopia/external/isolver
	url = https://zulianp@bitbucket.org/zulianp/isolver.git
[submodule "utopia_fe/external/sfem"]
	path = utopia_fe/external/sfem
	url = https://github.com/zulianp/sfem
