utopia/bin/*
utopia/bin_*
utopia/build/*
utopia/build_*
utopia_fe/bin_*
utopia_fe/bin/*
utopia_fe/build_*

utopia/build/*
utopia_fe/build/*

utopia_fe/doc/*
utopia/doc/*
*.sublime-workspace
*.DS_Store
*.vtk
*.vtr
*.aux
*.bbl
*.blg
*.log
*.out
